WebSite2/App_WebReferences/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MonitorSystem" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MonitorSystem" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BasicDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Expire_s" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Expire_t" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Read" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Write" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BasicDetails" nillable="true" type="tns:BasicDetails" />
  <xs:complexType name="ArrayOfBasicDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BasicDetails" nillable="true" type="tns:BasicDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBasicDetails" nillable="true" type="tns:ArrayOfBasicDetails" />
</xs:schema>