MonitorSystem/MonitorSystem/Service References/ServiceReference3/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:61657/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:61657/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:61657/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MonitorSystem" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_InsertBasicDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertBasicDetails" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertBasicDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertBasicDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUpdatedBasic_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUpdatedBasic" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUpdatedBasic_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUpdatedBasicResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteBasicInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBasicInfo" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteBasicInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBasicInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getBasicInfoNameById_InputMessage">
    <wsdl:part name="parameters" element="tns:getBasicInfoNameById" />
  </wsdl:message>
  <wsdl:message name="IService1_getBasicInfoNameById_OutputMessage">
    <wsdl:part name="parameters" element="tns:getBasicInfoNameByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getBasicInfoDescriptionById_InputMessage">
    <wsdl:part name="parameters" element="tns:getBasicInfoDescriptionById" />
  </wsdl:message>
  <wsdl:message name="IService1_getBasicInfoDescriptionById_OutputMessage">
    <wsdl:part name="parameters" element="tns:getBasicInfoDescriptionByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getBasicInfoExpTById_InputMessage">
    <wsdl:part name="parameters" element="tns:getBasicInfoExpTById" />
  </wsdl:message>
  <wsdl:message name="IService1_getBasicInfoExpTById_OutputMessage">
    <wsdl:part name="parameters" element="tns:getBasicInfoExpTByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getBasicInfoExpSById_InputMessage">
    <wsdl:part name="parameters" element="tns:getBasicInfoExpSById" />
  </wsdl:message>
  <wsdl:message name="IService1_getBasicInfoExpSById_OutputMessage">
    <wsdl:part name="parameters" element="tns:getBasicInfoExpSByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getBasicInfoReadId_InputMessage">
    <wsdl:part name="parameters" element="tns:getBasicInfoReadId" />
  </wsdl:message>
  <wsdl:message name="IService1_getBasicInfoReadId_OutputMessage">
    <wsdl:part name="parameters" element="tns:getBasicInfoReadIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getBasicInfoWriteId_InputMessage">
    <wsdl:part name="parameters" element="tns:getBasicInfoWriteId" />
  </wsdl:message>
  <wsdl:message name="IService1_getBasicInfoWriteId_OutputMessage">
    <wsdl:part name="parameters" element="tns:getBasicInfoWriteIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getAll_InputMessage">
    <wsdl:part name="parameters" element="tns:getAll" />
  </wsdl:message>
  <wsdl:message name="IService1_getAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="InsertBasicDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InsertBasicDetails" message="tns:IService1_InsertBasicDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InsertBasicDetailsResponse" message="tns:IService1_InsertBasicDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUpdatedBasic">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetUpdatedBasic" message="tns:IService1_GetUpdatedBasic_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetUpdatedBasicResponse" message="tns:IService1_GetUpdatedBasic_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteBasicInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteBasicInfo" message="tns:IService1_DeleteBasicInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteBasicInfoResponse" message="tns:IService1_DeleteBasicInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getBasicInfoNameById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getBasicInfoNameById" message="tns:IService1_getBasicInfoNameById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getBasicInfoNameByIdResponse" message="tns:IService1_getBasicInfoNameById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getBasicInfoDescriptionById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getBasicInfoDescriptionById" message="tns:IService1_getBasicInfoDescriptionById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getBasicInfoDescriptionByIdResponse" message="tns:IService1_getBasicInfoDescriptionById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getBasicInfoExpTById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getBasicInfoExpTById" message="tns:IService1_getBasicInfoExpTById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getBasicInfoExpTByIdResponse" message="tns:IService1_getBasicInfoExpTById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getBasicInfoExpSById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getBasicInfoExpSById" message="tns:IService1_getBasicInfoExpSById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getBasicInfoExpSByIdResponse" message="tns:IService1_getBasicInfoExpSById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getBasicInfoReadId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getBasicInfoReadId" message="tns:IService1_getBasicInfoReadId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getBasicInfoReadIdResponse" message="tns:IService1_getBasicInfoReadId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getBasicInfoWriteId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getBasicInfoWriteId" message="tns:IService1_getBasicInfoWriteId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getBasicInfoWriteIdResponse" message="tns:IService1_getBasicInfoWriteId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getAll" message="tns:IService1_getAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getAllResponse" message="tns:IService1_getAll_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertBasicDetails">
      <soap:operation soapAction="http://tempuri.org/IService1/InsertBasicDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpdatedBasic">
      <soap:operation soapAction="http://tempuri.org/IService1/GetUpdatedBasic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBasicInfo">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteBasicInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBasicInfoNameById">
      <soap:operation soapAction="http://tempuri.org/IService1/getBasicInfoNameById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBasicInfoDescriptionById">
      <soap:operation soapAction="http://tempuri.org/IService1/getBasicInfoDescriptionById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBasicInfoExpTById">
      <soap:operation soapAction="http://tempuri.org/IService1/getBasicInfoExpTById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBasicInfoExpSById">
      <soap:operation soapAction="http://tempuri.org/IService1/getBasicInfoExpSById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBasicInfoReadId">
      <soap:operation soapAction="http://tempuri.org/IService1/getBasicInfoReadId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBasicInfoWriteId">
      <soap:operation soapAction="http://tempuri.org/IService1/getBasicInfoWriteId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAll">
      <soap:operation soapAction="http://tempuri.org/IService1/getAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:61657/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>