MonitorSystem/MonitorSystem/Service References/ServiceReference3/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MonitorSystem" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MonitorSystem" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BasicDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="basicid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="expire_s" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="expire_t" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BasicDetails" nillable="true" type="tns:BasicDetails" />
</xs:schema>